@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset All Default style from browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    padding: 1rem;
}
#ntx-titles {
    font-size: 50px;
    font-weight: bold;
}
#ntx-description {
    font-size: 16px;
}
.ntx-body-content {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.ntx-form {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    padding: 1rem;
}
.ntx-col-75 {
    width: 75%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title-form {
    font-size: 16px;
}
.ntx-col-25 {
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ntx-input {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    outline: 1px solid #c5c5c5;
    border: none;
    transition: outline 0.5s ease-in-out;
}
.ntx-input:focus {
    outline: 1px solid aqua;
}
.ntx-input:hover {
    outline: 1px solid aqua;
}
input[type="radio"] {
    accent-color: #186993;
}
.ntx-message-area {
    width: 100%;
    position: sticky;
    display: block;
    resize: none; /* Prevent resize */
    padding: 5px 10px 85px;
    border-radius: 4px;
    outline: 1px solid #c5c5c5;
    border: none;
    transition: outline 0.5s ease-in-out;
}
.ntx-message-area:focus {
    outline: 1px solid aqua;
}
.ntx-message-area:hover {
    outline: 1px solid aqua;
}
.ntx-button {
    border: none;
    background-color: #67d0bd;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    border-radius: 6px;
}
.ntx-tables-section {
    padding: 1rem;
    width: 60%;
}
.ntx-tables {
    font-size: 0.9rem;
    border-collapse:collapse;
}
th {
    text-align: center;
    padding: 12px 18px;
}
.ntx-table-head-row {
    color: white;
    background-color: #67d0bd;
    border-width: 0;
}
tr {
    border-bottom: 1px solid #b6b6b6
}
tbody > tr > th {
    font-weight: normal;
}
tbody > tr[typeof="colwithcolor"] {
    background-color: #70e1c1;
}